<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
  <title>PE Tracker</title>
</head>
<body>
  <h1>PE Tracker</h1>


<div id="logDiv">
  <button id="logButton" onclick="javascript:logTasks();">Log Tasks</button>
</div>
<div id="pauseDiv">
  <button id="pauseButton" onclick="javascript:pauseTimers();">Pause Tasks</button>
</div>
<div id="resetDiv">
  <button id="resetButton" onclick='javascript:resetTimers()'>Reset Tasks</button>
</div>

<div id="resultsTitles">
  <p>
    Timer
  </p>
  <p>
    %
  </p>
  <p>
    ID
  </p>
</div>

<div id="taskButtons">
  <% tasks.forEach(function(r) {%>
    <ul>
      <input class="timer" id='timer <%= r.id %>' value = 0>
    </input>
      <p class="percent" id='percentage <%= r.id %>'>
        0
      </p>
      <p id='<%= r.id %>'>
        <%= r.id %>
      </p>
    </ul>

    <button id='button<%= r.id %>' onclick="javascript:logTasks(document.getElementById('timer <%= r.id %>').value, <%= r.id %>)"><%= r.name %></button><br><br>
      

  <% }); %>
</div>



<div id="results">
 <section>
   <p>Here is where the results will be:</p>
 </section>

 <section>

 </section>
</div>

  <script>
    
    


    const logTasks = async function(elapsed, id) {
      const response = await fetch('/log', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          users_id: -1,
          students_id: -1,
          task_id: id,
          duration: elapsed
        })
      });
      
      const result = await response.text();
      console.log(result);
      currentTaskId = id;
    };
    
  </script>

</body>
</html>